<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="Menu">
        <p id="HRISTitle">HRIS</p>
        <ul>
            <li>Admin Tool
                <ul>
                    <li>
                        Employee
                        <ul>
                            <li><a href="/Employee/EmployeeMaintenance">Add / Modify</a></li>
                            <li>Assign Leave</li>
                        </ul>
                    </li>
                    <li>
                        Leave
                        <ul>
                            <li>Add / Modify</li> 
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Leaves
                <ul>
                    <li>Apply Leave</li>
                    <li>Modify Leave</li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="Container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
